body {
    font-family: "MS Sans Serif", Tahoma, Verdana, Segoe, sans-serif;
    background: teal;
    color: white;
    padding-bottom: 28px;
    margin-top: 2%;
}

.container {
    display: flex;
    flex-wrap: wrap-reverse;
}

.button {
    padding: 20px;
    margin: 5px;
}

.btn {
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-right-color: #424242;
    border-bottom-color: #424242;
    background: silver;
    color: black;

    border-radius: 1px;
    font-size: 15px;
    font-weight: bold;
}

.card-header {
    background: -webkit-linear-gradient(left, #08216b, #a5cef7);
    color: #fff;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 2px;
    padding-bottom: 1px;
    text-align: left;
}

.card {
    border: solid;
    border-width: 2px;
    border-bottom-color: #424242;
    border-right-color: #424242;
    border-left-color: #fff;
    border-top-color: #fff;
    background: silver;
    color: #212529;
    width: 25%;
}

.cardMain {
    text-align: center;
    border: solid;
    border-width: 2px;
    border-bottom-color: #424242;
    border-right-color: #424242;
    border-left-color: #fff;
    border-top-color: #fff;
    background: silver;
    color: #212529;
}

#placeholderImage {
    height: 30%;
    width: 50%;
}

.frontPost {
    padding: 1px;
    margin-left: 10px;
    height: auto;
}